<div *ngIf="(Screen==1)" class="flex flex-col flex-auto min-w-0">
<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="row">
            <div class="col-lg-3">
                <!-- <mat-form-field floatLabel="never" class="search">
                    <input matInput [(ngModel)]="searchKey" placeholder="Search a Patient by Name or Phone Number"
                        autocomplete="off" (keyup)="applyFilter()" />
                    <mat-icon matPrefix>search</mat-icon>
                    <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                        (click)="onSearchClear()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field> -->                
            </div>
                <div class="col-lg-3">
                    <button mat-raised-button color="primary" (click)="ExportTOExcel()" style="padding-left: 19px;">
                        Export as Excel
                      </button>
                
            </div>
           <div class="col-lg-3">
                <!--  <button mat-raised-button color="primary" (click)="GetPatientData(appFromDate,appToDate)">
                    Search
                  </button>-->
                  
                 
                  
            </div> 
            <div class="col-lg-1">
                <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'"
                (click)="drawer.toggle();">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                <span class="ml-2">Add Medicine</span>
            </button>
            </div>
            <!-- <div class="col-lg-9" style="text-align: end;">
                <button class="fuse-mat-button-rounded mt-2" mat-flat-button [color]="'primary'"
                (click)="patientDrawer.toggle()">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                <span class="ml-2">New Patient</span>
            </button>
               
            </div> -->

        </div>

        <div class="example-container mat-elevation-z8" #TABLE>
            <table mat-table [dataSource]="medicineList" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="MedicineId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Medicine ID
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.medicineId }}
                    </td>
                    <!-- <tfoot mat-footer-cell *matFooterCellDef>
                        aaa
                    </tfoot>     -->
                </ng-container>

                <ng-container matColumnDef="MedicineName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Medicine Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.medicineName }}
                    </td>
                    <!-- <tfoot mat-footer-cell *matFooterCellDef>
                        aaa
                    </tfoot>     -->
                </ng-container>               
                <ng-container matColumnDef="Composition">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Composition
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.composition }}
                    </td>
                    <!-- <tfoot mat-footer-cell *matFooterCellDef>
                        aaa
                    </tfoot> -->
                </ng-container>               

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr> -->
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            
        </div>
    </div>
</div>

</div>

<fuse-drawer class="w-screen min-w-screen sm:w-100 sm:min-w-200 z-999" fixed [mode]="'over'" [name]="'drawer'"
    [position]="'right'" #drawer>
    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="  flex flex-row items-center px-6 h-20 min-h-20  text-white  bg-primary">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">{{actionName}}</div>
            <button class="ml-auto" mat-icon-button (click)="drawer.close()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
        <div class="flex flex-col p-6">
            <div class="flex flex-col gt-xs:flex-row">

                <fieldset class="scheduler-border" [formGroup]="form">
                    <div class="row">
                       
                            <mat-form-field appearance="outline" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <mat-label>Medicine Name</mat-label>
                                <input matInput [formControlName]="'medicineName'" required />
                            </mat-form-field>
                        
                       
                    </div>
                    <div class="row">                      
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Composition</mat-label>
                                <input matInput [formControlName]="'Composition'" />
                            </mat-form-field> -->
                            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12" appearance="outline">
                                <mat-label>Composition</mat-label>
                                <textarea matInput [formControlName]="'composition'" name="text" cols="35" rows="3"
                                    placeholder="Composition" ></textarea>
                            </mat-form-field>
                        </div>
                       
                    
                    
                </fieldset>
                <div class="flex justify-end">
                    <button class="px-8" mat-flat-button [color]="'primary'" (click)="
                                        addUpdateMedicineDetails(form.value);drawer.close();" [disabled]="form.invalid"
                        type="button">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</fuse-drawer>
