<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/aca0d880-425b-4c16-8191-e9c0d7216230/resourcegroups/CLINIC/providers/Microsoft.Web/sites/CMSAPI20220630003516</ResourceId>
    <ResourceGroup>CLINIC</ResourceGroup>
    <ApiResourceId>/subscriptions/aca0d880-425b-4c16-8191-e9c0d7216230/resourceGroups/CLINIC/providers/Microsoft.ApiManagement/service/clinic/apis/cmsforecasts</ApiResourceId>
    <OpenApiDocumentName>CMS.API</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cmsapi20220630003516.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b915672e-a986-4293-9b43-13c9529714e0</ProjectGuid>
    <MSDeployServiceURL>cmsapi20220630003516.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMSAPI20220630003516</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$CMSAPI20220630003516</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>